    {{ define "main" }}
    <div class="container d-none d-lg-block thumbnail-detail">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
            {{ range first 1 .Params.Thumbnails }}
                <img class="img-thumbnail" src="{{ . }}">
            {{ end }}
            </div>
            <div class="col-sm-3 text-center text-sm-right"></div>
        </div>
    </div>
    <div class="container d-none d-lg-block button-detail">
        <div class="row" style="height: 30px;padding-top: 12px;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="row" style="height: 30px;">
                    <div class="col-sm-3 col-lg-3"></div>
                    <div class="col-sm-6 col-lg-6 text-md-center text-lg-center">
                        {{ range .Params.Thumbnails }}
                            <img class="img-thumbnail img-fluid mx-1 mx-sm-0" src="{{ . }}" style="width: 2em;min-width: 1em;">
                        {{ end }}
                    <div class="col-sm-3 col-lg-3"></div>
                </div>
            </div>
            <!-- <div class="col-sm-3 text-center text-sm-right align-self-lg-center" style="padding-right: 40px;padding-left: 40px;">
                
            </div> -->
        </div>
    </div>
    <div class="detail-post">
        <div class="container d-none d-lg-block">
            <div class="row">
                <div class="col-md-9" style="padding-right: 200px;">
                    <h4 style="padding-bottom: 14px;">{{ .Title }}</h4>
                    <p style="color: rgb(66,71,76);font-family: 'Source Sans Pro', sans-serif;font-size: 12px;">
                    {{ .Content }}
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="row" style="padding-bottom: 10px;">
                        <a href="{{ .Params.Downloadfile }}" class="btn btn-primary btn-block btn-sm text-center d-block" type="button" style="height: 35px; width: 70%; background-color: rgb(23,162,4);">Unduh</a>
                    </div>
                    <div class="row">
                        <a href="#" class="btn btn-primary btn-block btn-sm text-center d-block" type="button" style="height: 35px; width: 70%; color: rgb(23,162,4); stroke: rgb(23,162,4); background-color: #fff;">Suka</a>
                    </div>
                    <br>
                    <div class="row" style="height: 35px;">
                        <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i><img src="/img/user.svg" alt="user"></i></div>
                        <div class="col-sm-10" style="padding-top: 4px;">
                            <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;line-height: 12px;font-size: 14px;"><a href="{{ .Params.Creator.Gitlink }}">{{ .Params.Creator.Name }}</a></p>
                        </div>
                    </div>
                    <div class="row" style="height: 35px;">
                        <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i><img src="/img/calendar.svg" alt="calendar"></i></div>
                        <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                            <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;line-height: 12px;font-size: 14px;">{{ .Date.Day }} {{ index $.Site.Data.bulan (printf "%d" .Date.Month) | humanize }} {{ .Date.Year }}</p>
                        </div>
                    </div>
                    <div class="row" style="height: 35px;">
                        <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i><img src="/img/heart.svg" alt="heart"></i></div>
                        <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                            <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;height: 44px;line-height: 12px;font-size: 14px;">100 Orang Menyukai</p>
                        </div>
                    </div>
                    <div class="row" style="height: 35px;">
                        <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i><img src="/img/download.svg" alt="download"></i></div>
                        <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                            <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;font-size: 14px;line-height: 12px;">Diunduh 300 kali</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}