{{ define "main" }}
    <div class="container d-none d-lg-block pt-3">
        {{- partial "breadcrumb.html" . -}}
    </div>
    <div class="container d-none d-lg-block thumbnail-detail">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="carousel slide" data-ride="carousel" id="carousel-1" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                    {{ range $index, $konten := .Params.Thumbnails }}
                        <div class="carousel-item {{ if eq $index 0 }}active{{end}}">
                            <img class="img-thumbnail" src="{{ $konten }}" alt="thumbnail{{ $index }}">
                        </div>
                    {{ end }}
                    </div>
                    
                    <ol class="carousel-indicators">
                    {{ range $index, $konten := .Params.Thumbnails }}
                        <li class="{{ if eq $index 0 }}active{{end}}" data-target="#carousel-1" data-slide-to="{{$index}}">
                            <img class="img-thumbnail" src="{{ $konten }}" alt="thumbnail{{ $index }}" style="width: 2rem;min-width: 1rem;">
                        </li>
                    {{ end }}
                    </ol>
                </div>

            </div>
            <div class="col-sm-3 text-center text-sm-right"></div>
        </div>
    </div>
    <div class="detail-post">
        <div class="container d-none d-lg-block">
            <div class="row">
                <div class="col-md-9" style="padding-right: 200px;">
                    <h4 style="color: rgb(23,162,4); padding-bottom: 14px;"><b>{{ .Title }}</b></h4>
                    <p style="color: rgb(66,71,76);font-family: 'Source Sans Pro', sans-serif;font-size: 12px;">
                    {{ .Content }}
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="row" style="padding-bottom: 10px;">
                        <a href="{{ .Params.Downloadfile }}" class="btn btn-primary btn-block btn-sm text-center d-block" type="button" style="height: 35px; width: 70%; background-color: rgb(23,162,4);">Unduh</a>
                    </div>
                        <form action="https://carpal-stoplight.glitch.me/suka" method="POST">
                    <div class="row">
                        <input type="hidden" name="idcontent" value="{{ md5 .RelPermalink }}"/>
                        <input type="hidden" name="fromuri" value="{{ .Permalink }}"/>
                        <input type="hidden" name="idpengirim"/>
                        <input type="hidden" name="data" />
                        <button id="btnSuka" class="btn btn-outline-success btn-block btn-sm text-center d-block" type="button" style="height: 35px;width:70%">Suka</button>
                    </div>
                        </form>
                    <br>
                    <div class="row" style="height: 35px;">
                        <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i><img src="/img/user.svg" alt="user"></i></div>
                        <div class="col-sm-10" style="padding-top: 4px;">
                            <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;line-height: 12px;font-size: 14px;"><a href="{{ .Params.Creator.Gitlink }}">{{ .Params.Creator.Name }}</a></p>
                        </div>
                    </div>
                    <div class="row" style="height: 35px;">
                        <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i><img src="/img/calendar.svg" alt="calendar"></i></div>
                        <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                            <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;line-height: 12px;font-size: 14px;">{{ .Date.Day }} {{ index $.Site.Data.bulan (printf "%d" .Date.Month) | humanize }} {{ .Date.Year }}</p>
                        </div>
                    </div>
                    <div class="row" style="height: 35px;">
                        <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i><img src="/img/heart.svg" alt="heart"></i></div>
                        <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                            <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;height: 44px;line-height: 12px;font-size: 14px;"><span id="disukai"></span> Orang Menyukai</p>
                        </div>
                    </div>
                    <!-- <div class="row" style="height: 35px;">
                        <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i><img src="/img/download.svg" alt="download"></i></div>
                        <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                            <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;font-size: 14px;line-height: 12px;">Diunduh 300 kali</p>
                        </div>
                    </div> -->
                    <div class="row" style="height: 35px;">
                        <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i><img src="/img/license.svg" alt="lisensi"></i></div>
                        <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                            <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;height: 44px;line-height: 12px;font-size: 14px;">{{ .Params.License }}</p>
                        </div>
                    </div>
                    <div class="row" style="height: 35px;">
                        <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i><img src="/img/tags.svg" alt="tagar"></i></div>
                        <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                            {{ range .Params.Tags }}
                                <a class="badge badge-success" href="{{ "tags" | absURL }}/{{.}}">{{.}}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
{{ define "footerfiles" }}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    <script>
    $(function(){
        var suka = Cookies.get("data");
        ceksuka();
        if(location.search.substr(1,6) === "status"){
            let sukaku = parseInt(location.search.substr(8,1));
            alert("sukses memperbarui suka! "+sukaku);
            Cookies.remove("data");
            Cookies.set("data",sukaku,{path:'{{ .RelPermalink }}'});
            location.href = "{{ .Permalink }}";
        }
        if(location.search.substr(1,7) === "payload"){
            var p = decodeURI(location.search.substr(9));
            Cookies.set("user",p);
            location.href = "{{ .Permalink }}";
        }

        $.get("https://carpal-stoplight.glitch.me/suka/"+$("input[name='idcontent']").val(),null, function(result){
            $("#disukai").html(result.disukai);
        });

        function ceksuka(){
            if(suka == undefined || suka == null)
                suka = 0
            if(suka == 1){
                $("#btnSuka").html("Batal Suka");
                suka = 0;
                return;
            }else{
                $("#btnSuka").html("Suka");
                suka = 1;
                return;
            }
        }

        // handle tombol suka
        $("#btnSuka").on("click", function(){
            if(Cookies.get('user')){
                $("input[name='idpengirim']").val(Cookies.get('user'));
            }
            $("input[name='data']").val(suka);
            $("form").submit();
        })

    })
    </script>
{{ end }}