.footer-clean{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #148405;
  color: white;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean {
    height: 52px;
  }
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 1.2rem;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  color: inherit;
  opacity: 0.75;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

