body{
color:rgb(255,255,255);
margin-top:0;
}

.navbar.navbar-main{
background-color: #17a204;
}
.position-absolute.d-block.d-lg-none{
background-position: center;
width: 100%;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
z-index=-1;
font-family: 'Source Sans Pro', sans-serif;
}

.row{
padding-left: 30px;
padding-right: 30px;
}

.col-sm-9.col-md-10.p-3{
width:179px;
padding-bottom: 51px;
}

@media (max-width: 600px) {
  .filter {
    width: 48px;
    font-size: 0.8rem;
  }
}

.btn-socmed {
  color: white;
  border-radius: 50px;
  border: 1px solid #e3e3e3;
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  background-color: #17a204;
  color: white;
}

.btn.btn-primary.active {
  background-color: #f3f3f3 !important;
  border-color: #17a204 !important;
  color: #17a204 !important;
}

.btn.btn-primary {
  background-color: #17a204;
  border-color: #17a204;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .5px rgba(23,162,4,135);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: rgba(23,162,4,135);
}

.footer.py-3.d-block.d-lg-none {
    height: 68px;
  bottom: 0;
  background-color: #148405;
}

.img-fluid {
  position: relative;
  z-index: -1;
}

@media (min-width: 1024px) and (max-width: 2000px) {
  .position-absolute {
    height: 50%;
    z-index: 1;
    background-position: 80px 15%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -30px;
  }
}

.position-absolute {
  height: 75%;
  z-index: 1;
  background-position: 70px 0%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
}

.container.d-block.d-lg-none {
  z-index: -1;
}

.position-absolute.d-block.d-lg-none {
  background-image: url('../../assets/img/lumbung-mobile2-1.png');
}

.d-block.d-lg-none.test {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: url(../../assets/img/ilustrasi.png);
  background-repeat: no-repeat;
  background-position: 20px 120px;
}

@media (min-width: 720px) and (orientation: landscape) {
  .d-block.d-lg-none.test {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: url(../../assets/img/ilustrasi.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 180px bottom;
  }
}
.container.d-none.d-lg-block.thumbnail-detail {
  padding-top: 44px;
  padding-bottom: 0px;
}

.container.d-none.d-lg-block.button-detail {
  padding-top: 0;
  padding-bottom: 20px;
}

.container.d-none.d-lg-block.detail-post {
  padding-top: 31px;
  padding-bottom: 26px;
}



