    <div class="container d-none d-lg-block thumbnail-detail">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6"><img class="img-thumbnail" src="assets/img/thumbnail-lumbung.png"></div>
            <div class="col-sm-3 text-center text-sm-right"></div>
        </div>
    </div>
    <div class="container d-none d-lg-block button-detail">
        <div class="row" style="height: 30px;padding-top: 12px;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="row" style="height: 30px;">
                    <div class="col-sm-3 col-lg-3"></div>
                    <div class="col-sm-6 col-lg-6 text-md-center text-lg-center">
                        <img class="img-thumbnail img-fluid mx-1 mx-sm-0" src="assets/img/thumbnail-lumbung.png" style="width: 2em;min-width: 1em;">
                        <img class="img-thumbnail img-fluid mx-1 mx-sm-0" src="assets/img/thumbnail-lumbung.png" style="width: 2em;min-width: 1em;">
                        <img class="img-thumbnail img-fluid mx-1 mx-sm-0" src="assets/img/thumbnail-lumbung.png" style="width: 2em;min-width: 1em;"></div>
                    <div class="col-sm-3 col-lg-3"></div>
                </div>
            </div>
            <div class="col-sm-3 text-center text-sm-right align-self-lg-center" style="padding-right: 40px;padding-left: 40px;">
                <button class="btn btn-primary btn-block btn-sm text-center d-block" type="button" style="height: 30px;font-family: 'Source Sans Pro', sans-serif;background-color: rgb(23,162,4);">Unduh</button>
            </div>
        </div>
    </div>
    <div class="container d-none d-lg-block detail-post">
        <div class="row">
            <div class="col-md-9" style="padding-right: 200px;">
                <h4 style="padding-bottom: 14px;">Judul Sumber Daya</h4>
                <p style="color: rgb(66,71,76);font-family: 'Source Sans Pro', sans-serif;font-size: 12px;">Lorem ipsum dolor sit amet. Ini keterangan tentang sumber daya terkait. Panjangnya bisa disesuaikan atau dibatasi sejumlah beberapa ratuskarakter saja agar lebih seragam. Lorem ipsum dolor sit amet. Ini keterangan tentang sumber daya terkait.
                    Panjangnya bisa disesuaikan atau dibatasi sejumlah beberapa ratuskarakter saja agar lebih seragam. Lorem ipsum dolor sit amet. Ini keterangan tentang sumber daya terkait. Panjangnya bisa disesuaikan atau dibatasi sejumlah beberapa
                    ratuskarakter saja agar lebih seragam. Lorem ipsum dolor sit amet. Ini keterangan tentang sumber daya terkait. Panjangnya bisa disesuaikan atau dibatasi sejumlah beberapa ratuskarakter saja agar lebih seragam. <br><br>Lorem ipsum dolor
                    sit amet. Ini keterangan tentang sumber daya terkait. Panjangnya bisa disesuaikan atau dibatasi sejumlah beberapa ratuskarakter saja agar lebih seragam. Lorem ipsum dolor sit amet. Ini keterangan tentang sumber daya terkait. Panjangnya
                    bisa disesuaikan atau dibatasi sejumlah beberapa ratuskarakter saja agar lebih seragam. Lorem ipsum dolor sit amet. Ini keterangan tentang sumber daya terkait. Panjangnya bisa disesuaikan atau dibatasi sejumlah beberapa ratuskarakter
                    saja agar lebih seragam. Lorem ipsum dolor sit amet. Ini keterangan tentang sumber daya terkait. Panjangnya bisa disesuaikan atau dibatasi sejumlah beberapa ratuskarakter saja agar lebih seragam.&nbsp;<br></p>
            </div>
            <div class="col-md-3">
                <div class="row" style="height: 35px;">
                    <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i class="fas fa-user"></i></div>
                    <div class="col-sm-10" style="padding-top: 4px;">
                        <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;line-height: 12px;font-size: 14px;">Rania Amina</p>
                    </div>
                </div>
                <div class="row" style="height: 35px;">
                    <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i class="fas fa-calendar-day"></i></div>
                    <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                        <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;line-height: 12px;font-size: 14px;">12 Maret 2019</p>
                    </div>
                </div>
                <div class="row" style="height: 35px;">
                    <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i class="fas fa-heart"></i></div>
                    <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                        <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;height: 44px;line-height: 12px;font-size: 14px;">100 Orang Menyukai</p>
                    </div>
                </div>
                <div class="row" style="height: 35px;">
                    <div class="col-sm-2" style="padding-top: 4px;padding-left: 10px;"><i class="fas fa-download"></i></div>
                    <div class="col-sm-10 align-self-md-baseline" style="padding-top: 4px;">
                        <p class="py-2" style="font-family: 'Source Sans Pro', sans-serif;font-size: 14px;line-height: 12px;">Diunduh 300 kali</p>
                    </div>
                </div>
            </div>
        </div>
    </div>