<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{- partial "head.html" . -}}
<body>
{{- partial "header.html" . -}}

{{- partial "mobile.html" . -}}
<div class="container d-none d-lg-block" style="padding-top: 50px;">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group" role="group" id="btn-category">
                <button class="btn btn-primary active btn-filter" type="button" style="width: 100px;">Semua</button>
                <button class="btn btn-primary btn-filter" type="button" style="width: 100px;">Materi</button>
                <button class="btn btn-primary btn-filter" type="button" style="width: 100px;">Template</button>
                <button class="btn btn-primary btn-filter" type="button" style="width: 100px;">Tema</button></div>
        </div>
        <div class="col-md-4 text-right align-self-center"><input type="search"></div>
    </div>
</div>

<div class="templates d-none d-lg-block">
    <div class="container">
        {{ range first 5 (where .Site.RegularPages "Section" "!=" "") }}
            {{- partial "content-list.html" . }}
        {{ end }}
    </div>
</div>
{{- partial "footer.html" . -}}
</body>
</html>